.pageTitle{
    display: flex;
    border: solid rgb(152, 202, 220) 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
}

.dashboard {
  display: flex; 
  flex-wrap: wrap; /* Allow wrapping if needed */
  gap: 20px; /* Space between cards */
  padding: 5px; /* Padding around the container */
}

.dashboard-content1 {
  width: calc(25% - 20px); /* Adjust width and subtract gap */
  min-height: 15vh; /* Minimum height of the card */
  background-color: rgb(242, 245, 244);
  font-size: max(1vw, 18px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  display: flex; 
  align-items: center; /* Center items vertically */
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box; /* Include padding and border in width */
}